@import "~taro-ui/dist/style/index.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "styles/variables.scss";

page {
  background-color: $color-white;
}

.panel--first:after {
  border-top-width: 0 !important;
}

.my-panel {
  &:after {
    border-bottom-width: 0 !important;
  }
}

.at-button {
  margin: $spacing-h-sm;
}

.my-book-card {
  &:after {
    border-bottom-width: 0 !important;
  }
}

.book {
  box-sizing: border-box;
  padding: 40px $spacing-h-xl 64px;
  background: $color-white;
  &__img {
    flex: 0 0 $book-image-width;
    width: $book-image-width;
    height: $book-image-height;
    margin-left: 5px;
    // box-shadow: 0 5px 25px 1px rgba(55, 58, 64, 0.14);
  }

  &__info {
    font-size: 28px;
    line-height: 1.7em;
    color: $color-grey-1;
    &-title {
      font-size: 34px;
      line-height: 1.8em;
      color: $color-text-base;
    }
  }
}

.book-extra {
  box-sizing: border-box;
  padding: $spacing-v-xl $spacing-h-xl;
  background: $color-white;
  @include hairline-top;

  &__title {
    font-size: $font-size-lg;
    color: $color-text-base;
  }

  &__info {
    margin-top: $spacing-v-md;
    font-size: 28px;
    line-height: 1.7em;
    color: $color-grey-1;
  }
}

.book-introduction,
.related-books {
  // margin-top: $spacing-v-md;
  padding: $spacing-v-xl $spacing-h-xl;
  background: $color-white;
  color: $color-text-base;
  @include hairline-top;
  &__title {
    font-size: $font-size-lg;
  }
  &__content {
    margin-top: $spacing-v-md;
  }
  .book-introduction__content {
    font-size: $font-size-base;
    line-height: 1.7em;
  }
}

.my-horizon-list-container {
  width: 100%;
  background: $color-white;
}

.my-horizon-list {
  white-space: nowrap;
  &-item {
    display: inline-block;
    margin-right: $spacing-h-lg;
    vertical-align: top;
    white-space: normal;
    @include active;
    &:last-child {
      margin-right: 0;
    }
    &__title {
      font-size: $font-size-base;
      color: $color-text-base;
      @include line(2);
    }
    &__author {
      font-size: $font-size-sm;
      color: $color-grey-1;
      @include line(1);
    }
  }
}

.my-network-error {
  @include absolute-center;
}

.book-panel {
  position: relative;
  background-color: $color-white;
  @include hairline-top-bottom();

  &-header {
    box-sizing: border-box;
    padding: $spacing-v-lg $spacing-h-lg;
    font-size: $font-size-base;
    @include active;
    @include hairline-bottom-relative($left: $spacing-h-lg);
    &__arrow {
      flex: none;
      width: auto;
    }
  }

  &-body {
    padding: $spacing-v-lg $spacing-h-lg;
  }
}


.book-card {
  box-sizing: border-box;
  padding: $spacing-v-lg $spacing-h-lg;
  background: $color-white;
  @include active;
  @include hairline-top-bottom();
  &__img {
    flex: 0 0 $book-image-width;
    width: $book-image-width;
    height: $book-image-height;
  }
  &__info {
    font-size: $font-size-base;
    line-height: 1.7em;
    color: $color-grey-1;
    &-title {
      font-size: $font-size-lg;
      line-height: 2em;
      color: $color-text-base;
    }
  }
}

.user-profile {
  box-sizing: border-box;
  padding: $spacing-v-lg $spacing-h-lg;
  background: $color-white;
  @include active;
  @include hairline-top-bottom();
  &__avatar {
    flex: 0 0 $user-avatar-width;
  }
  &__info {
    font-size: $font-size-base;
    line-height: 1.7em;
    color: $color-grey-1;
    &-name {
      font-size: $font-size-lg;
      line-height: 2em;
      color: $color-text-base;
    }
  }
}

/**
* 分类页样式
*/
.panel-header {
  display: flex;
  align-items: center;
  padding: 60px;
  height: 180px;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    color: #78A4FA;
    text-align: center;
    background: #fff;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.11);
    border-radius: 10px;

    .img {
      width: 36px;
      height: 36px;
    }
  }

  &__title {
    margin-left: 32px;
    color: #78A4FA;
    font-size: 36px;
    font-weight: bold;
  }
}

.panel-body {
  min-height: calc(100vh - 180px);
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);
}

.component-list {
  margin: 20px 60px 40px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    @include hairline-bottom();

    .name {
      color: #1d1d26;
      font-size: 28px;
    }

    .at-icon {
      color: #CCC;
    }
  }
}


/**
 * Example 样式
*/
.panel__content {
  .text-item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .subitem {
      display: inline-block;
      margin-left: 24px;
    }

    &__desc {
      margin-bottom: 12px;
      color: #333;
      font-size: 24px;
    }
  }
}

.doc-body {
  background: #fff;
  box-shadow: 0 26px 163px 0 rgba(0, 0, 0, 0.11);

  .panel {
    margin: 32px 0 56px;

    &__title {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 50px;
      color: #6a6a77;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.5;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 24px;
        top: 50%;
        margin-top: -20px;
        width: 2PX;
        height: 40px;
        background-color: #6190e8;
        box-shadow: 0 7px 12px 0 rgba(97, 144, 232, 0.2);
        border-radius: 1PX;
      }
    }

    &__content {
      padding: 0 20px;

      &.no-padding {
        padding: 0;
      }
    }
  }
}

.picker__page .picker-item {
  .at-list__item .item-extra__info {
    max-width: 300px;
  }
}

.picker-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 24px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0.5);
    border-bottom: 1PX solid #d6e4ef;
    transform-origin: center;
    box-sizing: border-box;
    pointer-events: none;
  }

  &::before {
    top: 0;
    bottom: auto;
  }

  &__label,
  &__value {
    color: #333;
    font-size: 32px;
    line-height: 1.5;
  }

  &__value {
    color: #999;
  }
}

.danger {
  color: $color-error;
}
